.spinner { 
  width: 40px; 
  height: 40px;
  display: block;
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-left-color: #00f; 
  border-radius: 50%;  
  animation: spin 4s linear infinite; 
} 
    
@keyframes spin {
  0% { transform: rotate(0deg); } 
  50% { transform: rotate(140deg); }
  100% { transform: rotate(360deg); } 
}  