.spinner { 
  aspect-ratio: 1;
  display: block;
  border: 4px solid var( --button-shadow-color);
  border-left-color: var(--loader-color); 
  border-right-color: var(--loader-color);
  border-radius: 50%;  
  animation: spin 1s ease-in-out infinite; 
} 
    
@keyframes spin {
  0% { transform: rotate(0deg); } 
  100% { transform: rotate(360deg); } 
}  