.input-container{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  position: relative;
  width: 100%;
}

.input-label{
  font-size: 0.94rem;
  font-weight: 500;
  color: var(--header-color)
}

.input-field{
  background-color: var(--dark-mode-input-color);
  border: 0.1rem solid var(--border-color);
  border-radius: 4rem;
  padding: 0.8rem 1rem;
  color: var(--secondary-text-color);
  font-size: 0.94rem;
  outline: none;
}

.input-have-icon{
  padding-left: 2.3rem;
}

.input-is-pass{
  padding-right: 2.35rem;
}

.input-field:focus {
  border-color: var(--primary-button-color); 
}

.input-field.input-error {
  border-color: var(--error-message-color);
}

.input-error-message {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  color:var(--error-message-color); 
  font-weight: 500;
  margin-top: -0.1rem;
  gap: 0.3rem;
}

.input-icon{
  position: absolute;
  top: 2.45rem;
  left: 0.7rem;
}

.eyePass{
  position: absolute;
  top: 1.4rem;
  left: calc(100% - 3rem);
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-text-color);
  width: fit-content;
}

/* ESSENTIAL AUTOFILL FIX - ALL BROWSERS */
.input-field:-webkit-autofill {
 
  -webkit-text-fill-color: var(--secondary-text-color) !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--dark-mode-input-color) inset !important;
}

.input-field:autofill {
 
  background-color: var(--dark-mode-input-color) !important;
  color: var(--secondary-text-color) !important;
}

/* Firefox fix */
.input-field:-moz-autofill {
  
  background-color: var(--dark-mode-input-color) !important;
  color: var(--secondary-text-color) !important;
}