.input-container{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.input-label{
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--header-color)
}

.input-field{
    background-color: var(--dark-mode-input-color);
    border: 0.1rem solid var(--border-color);
    border-radius: 1rem;
    padding: 0.45rem;
    color: var(--secondary-text-color)
    font-size: 0.8rem;
    outline: none;
}

.input-field:focus {
  border-color: var(--button-color); 
}

.input-field.input-error {
  border-color: var(--error-message-color);
}

.input-error-message {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  color:var(--error-message-color); 
  font-weight: 500;
  margin-top: -0.1rem;
  gap: 0.3rem;
}
