.input-container{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  position: relative;
}

.input-label{
  font-size: 0.94rem;
  font-weight: 500;
  color: var(--header-color)
}

.input-field{
  background-color: var(--dark-mode-input-color);
  border: 0.1rem solid var(--border-color);
  border-radius: 4rem;
  padding: 0.8rem 1rem;
  color: var(--secondary-text-color);
  font-size: 0.94rem;
  outline: none;
}

.input-have-icon{
  padding-left: 2rem;
}

.input-is-pass{
  padding-right: 2.35rem;
}

.input-field:focus {
  border-color: var(--primary-button-color); 
}

.input-field.input-error {
  border-color: var(--error-message-color);
}

.input-error-message {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  color:var(--error-message-color); 
  font-weight: 500;
  margin-top: -0.1rem;
  gap: 0.3rem;
}

.input-icon{
  position: absolute;
  top: 2.45rem;
  left: 0.4rem;
}

.eyePass{
  position: absolute;
  top: 2.45rem;
  left: calc(100% - 2rem);
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-text-color);
}