* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  background-color: var(--dark-mode-background-color);
  color: var(--secondary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--header-color);
}
